{% extends 'base.twig' %}
{% set carousel = true %}
{% block title %}
Commandes
{% endblock %}

{% block content %}
	{% if commandes|length > 0%}
		{% for commande in commandes %}
	    <div class="row">
	    	<div class="col-md-12">
	    		<div class="panel panel-default" style="max-width:830px">
	    			<div class="panel-heading">
	    				<h3 class="panel-title"><strong>Commande n° {{ commande.idCommande }}  du {{ commande.dateCommande | date("d/m/Y")}}</strong></h3>
	    			</div>
	    			<div class="panel-body" style="max-width:830px">
	    				<div class="table-responsive">
	    					<table class="table table-condensed">
	    						<thead>
	                                <tr>
	        							<td><strong>Produit</strong></td>
	        							<td class="text-center"><strong>Prix</strong></td>
	        							<td class="text-center"><strong>Quantité</strong></td>
	        							<td class="text-right"><strong>Total</strong></td>
	                                </tr>
	    						</thead>
	    						<tbody>
	    							{% for item in commande.details %}
	    							<tr>
	    								<td>{{ item.nom }}</td>
	    								<td class="text-center">{{ item.montant|number_format(2) }}€</td>
	    								<td class="text-center">{{ item.qte }}</td>
	    								<td class="text-right">{{ item.total|number_format(2) }}€</td>
	    							</tr>
	    							{% endfor %}
	    							<tr>
	    								<td class="no-line"></td>
	    								<td class="no-line"></td>
	    								<td class="no-line text-center"><strong>Total</strong></td>
	    								<td class="no-line text-right">{{ commande.montant | number_format(2) }}€</td>
	    							</tr>
	    						</tbody>
	    					</table>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	    {% endfor %}
	{% else %}
		<p class="text-seul"><span class="glyphicon glyphicon-info-sign"></span> Vous n'avez pas de commande en cours</p>
	{% endif %}
{% endblock %}